body{
    background:#EEEEEE;
    text-align: center;
}

/*Forms and stuff*/
select,select:focus,opttion,opttion:focus{
    text-decoration:none;
    outline: none;
    -moz-appearance: none;
    outline:none;
}


a,a:hover,a:visited,a:link,a:focus{
    outline: none;
    -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

input[type="text"]{
    border:1px solid #CCC;
    min-width:45px;
}

/*input[type="file"]{
    height: 100%;
    width:100%; 
    position:absolute; 
    top:0; 
    left:0; 
    -moz-opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    font-size: 150px; 
    z-index:20;
    cursor: pointer;
}
*/
textarea{  
  /*  width:100%;*/
    max-width:700px;
    text-align:justify;
    text-decoration:none;
    resize: none;
    outline: none;
    -moz-appearance: none;
    border:1px solid #CCC;
    border-radius:10px;
    margin:0;
    padding:5px 3px;
}


textarea:focus{
    border:1px solid #049cdb;
}

.btn:checked,.btn:active,.btn:focus{
    -moz-appearance: none;
    outline:none;
}

.nav>li>a{
    outline: none;
    -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.btn-top-menu{
    background: transparent;
    border:none;
    color:gray;
}
.btn-top-menu:hover{
    color:white;
    background: transparent;
}

/*collapseMenu*/
#collapseMenu{
    top:56px;
    z-index: 1500;
    position: fixed;
    width: 100%;
    text-align:left;
    overflow:hidden;
    max-height:0;
 /*   box-shadow:0 0 4px #AAA;
    background:#333;*/
    padding:0 5px;
    margin-bottom:0;
/*     margin-top:-20px; */
}

#collapseMenu>ul{
    margin-top:5px;
    margin-bottom:5px;
}
#collapseMenu>ul>li{border-bottom:1px solid #1A1A1A}
#collapseMenu>ul>li:last-child{border:none}
#collapseMenu>ul>li>a{color:#999;cursor:pointer;}
#collapseMenu>ul>li>a:hover{color:white;text-shadow:none;background-color: #202020;}

#collapseMenu>ul>li>a>div{
    padding:2px 0;
    padding-left:5px
}


/*Main elements*/
.content{
    width:800px;
    text-align:justify;
    display: inline-block;
}

.content-inner{    
    margin:0;
    margin-top: 70px;
    list-style:none;
    background:white;
    border:1px solid #CCC;
    border-radius:5px;
    box-shadow:0 0 4px #AAA;
    padding: 15px;
}

.btn-block{
    /*width:90%;
    margin-left: 5%;*/
}

.leaflet-container {
    border-radius:5px;
    box-shadow:0 0 4px #AAA;
}

.searchTips{
    margin-right: 70px;
}
.searchTips>ul{
    display: block;
    position: static;
    margin-bottom: 5px;
    width: 100%;    
}
.searchTips>ul>li{
    border-bottom: 1px solid #E5E5E5;
    cursor:pointer;    
}
.searchTips>ul>li:last-child{border:none;}

.overflow-hidden{
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.help-block{
    text-align: justify;

}


@media screen and (max-width: 1000px) {
   /*#navSearch{
        display:block;
        width:auto;
        margin-left:60px;
        margin-right:25px;
    }*/
}
@media screen and (max-width: 799px) and (min-width: 767px) {
    .content{width:90%;}

}
@media screen and (max-width:766px) {
    .content{width:90%;}
    #collapseMenu{
        margin-right:-20px;
        margin-left:-20px;
    }
}