<div class="big-bordered-box">	
	<div class="big-bordered-box-inner">
		<form class="form-group" role="form" name="general" ng-show="!showResendBut">
			<h2 class="text-right">{{tmlText.header.main}}</h2>		
			<div class="form-group" ng-show="loginAlert.non_field_errors">
				<p class="text-danger" ng-repeat="alert in loginAlert.non_field_errors">{{alert}}</p>
			</div>	       			
			<div class="form-group" ng-class="{'has-error':loginAlert.email}">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
					<input class="form-control" id="inputEmail" placeholder="Email"
					 ng-model="email" ng-disabled="inProgress">					
				</div>
				<span class="text-danger" ng-show="loginAlert.email">
					<span ng-repeat="alert in loginAlert.email">{{alert}}</span>
				</span>
			</div>
			<div class="form-group" ng-class="{'has-error':loginAlert.password}">
				<div class="input-group">
					<span class="input-group-addon"> <i class="fa fa-key fa-fw"> </i></span>
					<input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="password" ng-disabled="inProgress">
				</div>
				<span class="text-danger" ng-show="loginAlert.password">
					<span ng-repeat="alert in loginAlert.password">{{alert}}</span>
				</span>
			</div>
			<div class="form-group">
				<div class="checkbox">
				    <label>
				      <input type="checkbox" ng-disabled="inProgress">{{tmlText.cb.remember}}
				      <a class="pull-right" href={{url.passRecovery}}>{{tmlText.el.forgotpass}}</a>
				    </label>
				</div>				
			</div>
			
		</form>
		<div ng-include src='partials.regConfirm' ng-show="showResendBut" class="col-lg-10 col-lg-push-1"></div>	
	</div>
</div>
<div class="form-group main-btn-group text-left">
 	<button type="submit" class="btn btn-link" ng-click="login(email, password)" ng-disabled="inProgress">
 		<i class="fa fa-sign-in fa-3x"></i>
 	</button>
 	<a type="submit" class="pull-right" ng-class="myClasses.btn.main" href={{url.registration}} ng-disabled="inProgress">
 		{{tmlText.btn.reg}}</a>
</div>