<div class="big-bordered-box">	
	<div class="big-bordered-box-inner">
		<form class="form-group" role="form" name="general" ng-show="regStage1">
			<h2 class="text-right">{{tmlText.header.main}}</h2>
			<div class="form-group" ng-show="loginAlert.non_field_errors">
				<p class="text-danger" ng-repeat="alert in loginAlert.non_field_errors">{{alert}}</p>
			</div>
			<div class="form-group" 
				ng-class="{'has-error':(loginAlert.email && loginAlert.email.length!=0) || general.email.$error.maxlength}">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
					<input class="form-control" id="inputEmail" placeholder="Email" name="email"
					 ng-model="user.email" ng-disabled="inProgress" ng-minlength="3" ng-maxlength="72" required>
				</div>
				<div id="emailAlert" class="text-danger">
					<span ng-repeat="alert in loginAlert.email">{{alert}}<br></span>
					<span ng-show="general.email.$error.minlength">{{tmlText.errorsText.email.short}}</span>
				    <span ng-show="general.email.$error.maxlength">{{tmlText.errorsText.email.long}}</span>
			    </div>
			</div>
			<div class="form-group" ng-show="loginAlert.password">			
				<p class="text-danger" ng-repeat="alert in loginAlert.password">{{alert}}</p>
			</div>
			<div class="form-group" 
				ng-class="{'has-error':(loginAlert.password1 && loginAlert.email.password1!=0) || (loginAlert.password2 && loginAlert.email.password2!=0) || (loginAlert.password && loginAlert.email.password!=0) || general.password1.$error.max.length}">
				<div class="input-group">
					<span class="input-group-addon"> <i class="fa fa-key fa-fw"> </i></span>
					<input type="password" class="form-control" id="inputPassword1" 
						placeholder="Password" name="password1" required
						ng-model="user.password1" ng-disabled="inProgress" ng-minlength="3" ng-maxlength="128" >
				</div>
				<div id="password1Alert" class="text-danger">
					<span ng-repeat="alert in loginAlert.password1">{{alert}}<br></span>
					<span ng-show="general.password1.$error.minlength">{{tmlText.errorsText.password.short}}</span>
					<span ng-show="general.password1.$error.maxlength">{{tmlText.errorsText.password.long}}</span>
				</div>
			</div>
			<div class="form-group" ng-class="{'has-error':loginAlert.password1 || loginAlert.password}">
				<div class="input-group">
					<span class="input-group-addon"> <i class="fa fa-key fa-fw"> </i></span>
					<input type="password" class="form-control" id="inputPassword2" placeholder="Password again" name="password2"
					ng-model="user.password2" ng-disabled="inProgress" ng-minlength="3" ng-maxlength="128" required>
				</div>
				<div id="password1Alert" class="text-danger">
					<span ng-repeat="alert in loginAlert.password2">{{alert}}<br></span>
					<span ng-show="user.password1!=user.password2">{{tmlText.errorsText.password.notmatch}}</span>
				</div>
			</div>
			<div class="form-group" 
				ng-class="{'has-error':loginAlert.gender}">	
				<label for="radioGender" class="control-label">{{tmlText.lbl.gender}}</label>		
				<p class="help-block">{{tmlText.hint.gender}}</p>
				<div id="genderAlert" class="text-danger">
					<span ng-repeat="alert in loginAlert.gender">{{alert}}<br></span>
				</div>
				<div class="btn-group  btn-group-justified " data-toggle="buttons">
					<label class="btn" ng-class="myClasses.btn.radio" ng-click="user.gender=f" ng-disabled="inProgress" >
						<input type="radio" name="options" id="f">
							<i class="fa fa-female"></i>
					</label>
					<label class="btn" ng-class="myClasses.btn.radio" ng-click="user.gender=m" ng-disabled="inProgress" >
						<input type="radio" name="options" id="m">
							<i class="fa fa-male"></i>
					</label>
					<label class="btn active" ng-class="myClasses.btn.radio" ng-click="user.gender=u" ng-disabled="inProgress" >
						<input type="radio" name="options" id="u" >
							<i class="fa fa-smile-o"></i>
					</label>
				</div>
			</div>
			<div class="form-group"
				ng-class="{'has-error':loginAlert.race}">	
				<label for="radioRace" class="control-label">{{tmlText.lbl.race}}</label>		
				<p class="help-block">
					{{tmlText.hint.race}}
					<a href="url.wiki">{{tmlText.hint.wiki}}</a>
				</p>
				<div id="raceAlert" class="text-danger">
					<span ng-repeat="alert in loginAlert.race">{{alert}}</span>
				</div>
				<div class="btn-group  btn-group-justified " data-toggle="buttons">
					<label class="btn" ng-class="myClasses.btn.radio" ng-repeat="r in races" ng-click="user.race=r" ng-disabled="inProgress" >
						<input type="radio" name="options">{{r.name}}
					</label>				
				</div>			
				<div ng-show="user.race" class="text-center">				
					<img ng-src={{user.race.blazon}} style="width-max:100%;margin:15px 0">	
					<div>
						<div class="pull-left" id="skillsDescr">
							<span>{{tmlText.lbl.fortune}}</span>
							<span>{{tmlText.lbl.agillity}}</span>
							<span>{{tmlText.lbl.strength}}</span>
							<span>{{tmlText.lbl.intellect}}</span>						
						</div>			
						<div class="progress">
							<div class="progress-bar progress-bar-success" 
								role="progressbar" aria-valuenow={{user.race.fortune*10}} aria-valuemin="0" aria-valuemax="100" ng-style="{width:user.race.fortune*10+'%'}">
							    <span>{{user.race.fortune}}</span>
							</div>
						</div>
						<div class="progress">
						  	<div class="progress-bar progress-bar-info" 					  	
						  	role="progressbar" aria-valuenow={{user.race.agillity*10}} aria-valuemin="0" aria-valuemax="100" ng-style="{width:user.race.agillity*10+'%'}">
						    <span>{{user.race.agillity}}</span>
						</div>
						</div>
						<div class="progress">
						  	<div class="progress-bar progress-bar-warning" 
						  	role="progressbar" aria-valuenow={{user.race.strength*10}} aria-valuemin="0" aria-valuemax="100" ng-style="{width:user.race.strength*10+'%'}">
						    <span>{{user.race.strength}}</span>
						  </div>
						</div>
						<div class="progress">
						  	<div class="progress-bar progress-bar-danger" 
						  	role="progressbar" aria-valuenow={{user.race.intellect*10}} aria-valuemin="0" aria-valuemax="100" ng-style="{width:user.race.intellect*10+'%'}">
						    <span>{{user.race.intellect}}</span>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div ng-show="!regStage1" ng-include src='partials.regConfirm' class="col-lg-10 col-lg-push-1"></div>
	</div>
</div>
<div class="main-btn-group">
	<button type="submit" class="btn" ng-class="myClasses.btn.mainBig" ng-click="registration()" ng-disabled="inProgress" >
			 		{{tmlText.btn.registration}}</button>
</div>
